{% extends 'cart/base.html' %}
{% load static %}
{% block title %} Checkout {% endblock %}
{% block content %}
      <section class=" py-5">
        <div class="container">
          <div class="row">

            <div class="col-xl-8 col-lg-8 mb-4">
      
              <!-- Checkout -->
              <div class="card shadow-0 border">

                <div class="p-4">
                    <h4 class="mb-3">Checkout Summary</h4>
                    <div class="d-flex justify-content-between">
                    <p class="mb-2">Total price:</p>
                    <p class="mb-2">#{{ cart.get_total_price }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                    <p class="mb-2">Shipping cost:</p>
                    <p class="mb-2">+ $14.00</p>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                    <p class="mb-2">Total price:</p>
                    <p class="mb-2 fw-bold">#{{ cart.get_total_price }}</p>
                    </div>
                    <hr />
                </div>

                <div class="p-4">

                  <!-- In checkout.html template -->
                  <form method="post" action="{% url 'orders:create_order' %}">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="use_default_shipping">
                            <input type="checkbox" id="use_default_shipping" name="use_default_shipping" value="1">
                            Use default shipping information
                        </label>
                    </div>

                    <div id="hidden-element" class="row border rounded-3 mb-3" style="display: none;">
                        <div class="row">
                            <div class="col-lg-4 mb-3">
                                <div class="p-3 h-100">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    State <br />
                                    <small class="text-muted">{{ profile.state }} </small>
                                  </label>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="p-3 h-100">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    City <br />
                                    <small class="text-muted">{{ profile.city }} </small>
                                  </label>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="p-3 h-100">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    LGA <br />
                                    <small class="text-muted">{{ profile.lga }} </small>
                                  </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-3">
                                <div class="p-3 h-100">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    Town <br />
                                    <small class="text-muted">{{ profile.town }} </small>
                                  </label>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="p-3 h-100">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    Zipcode <br />
                                    <small class="text-muted">{{ profile.zipcode }} </small>
                                  </label>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="p-3 h-100">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    Street <br />
                                    <small class="text-muted">{{ profile.street }} </small>
                                  </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-3">
                                <div class="p-3 h-100">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    House Address <br />
                                    <small class="text-muted">{{ profile.house_address }} </small>
                                  </label>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="p-3 h-100">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    Mobile number <br />
                                    <small class="text-muted">{{ profile.mobile_number }} </small>
                                  </label>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <div class="p-3 h-100">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    Additional Info <br />
                                    <small class="text-muted">{{ profile.additional_info }} </small>
                                  </label>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'profile' %}" class="btn btn-primary shadow-primary border text-light my-3">Edit Shipping Info</a>
                        </div>
                    </div>
                    
                    <div id="additional-info-form">
                        <div class="row">
                            <div class="form-group col-6 mb-3">
                                <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-group col-6 mb-3">
                                <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6 mb-3">
                                <label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
                                {{ form.phone_number }}
                            </div>
                            <div class="form-group col-6 mb-3">
                                <label for="{{ form.email.id_for_label }}">Email:</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <hr class="my-4" />
                
                        <h4 class="card-title mb-3">Shipping info</h4>
                        
                        <div class="row">
                            <div class="form-group col-6 mb-3">
                                <label for="{{ form.state.id_for_label }}">State:</label>
                                {{ form.state }}
                            </div>
                            <div class="form-group col-6 mb-3">
                                <label for="{{ form.lga.id_for_label }}">LGA:</label>
                                {{ form.lga }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6 mb-3">
                                <label for="{{ form.city.id_for_label }}">City:</label>
                                {{ form.city }}
                            </div>
                            <div class="form-group col-6 mb-3">
                                <label for="{{ form.postal_code.id_for_label }}">Postal Code:</label>
                                {{ form.postal_code }}
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.house_address.id_for_label }}">House Address:</label>
                            {{ form.house_address }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.additional_info.id_for_label }}">Additional Info:</label>
                            {{ form.additional_info }}
                        </div>
                    </div>
                    
                    <a href="{% url 'cart_detail' %}" class="btn btn-light shadow-0 border border-danger">Cancel</a>
                    <button type="submit" class="btn btn-success shadow-0 border">Proceed to Payment</button>
                  </form>
                
                  <script>
                    document.addEventListener('DOMContentLoaded', function() {
                      const checkbox = document.getElementById('use_default_shipping');
                      const formDiv = document.getElementById('additional-info-form');
                      const formFields = formDiv.querySelectorAll('input, textarea');
                      const hiddenElement = document.getElementById('hidden-element'); // Add this line
                  
                      checkbox.addEventListener('change', function() {
                        if (this.checked) {
                          formDiv.style.display = 'none';
                          formFields.forEach(field => {
                            field.disabled = true;
                          });
                          hiddenElement.style.display = 'block'; // Add this line
                        } else {
                          formDiv.style.display = 'block';
                          formFields.forEach(field => {
                            field.disabled = false;
                          });
                          hiddenElement.style.display = 'none'; // Add this line
                        }
                      });
                  
                      // Initial check to disable the form if the checkbox is already checked
                      if (checkbox.checked) {
                        formDiv.style.display = 'none';
                        formFields.forEach(field => {
                          field.disabled = true;
                        });
                        hiddenElement.style.display = 'block'; // Add this line
                      }
                    });
                  </script>
                  
                
                  
                </div>
              </div>
              <!-- Checkout -->
            </div>
            <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
                <div class="ms-lg-4 mt-4 mt-lg-0 p-3" style="max-width: 320px; max-height: 900px; overflow-y: scroll;">
                    
                  <h4 class="text-dark my-4">Items in cart</h4>
                    
                  {% for item in cart.items.all %}
                    <div class="d-flex align-items-center mb-4">
                        <div class="me-3 position-relative">
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                            {{ item.quantity }}
                        </span>
                        <img src="{{ item.product.images.url }}" style="height: 96px; width: 96px;" class="img-sm rounded border" />
                        </div>
                        <div class="">
                        <a href="#" class="nav-link">
                            {{ item.product.name }}
                        </a>
                        <div class="price text-muted">Total: #{{ item.get_total_price }}</div>
                        </div>
                    </div>
                  {% endfor %}

                </div>
            </div>
          </div>
        </div>
      </section>
      

      
{% endblock %}