<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% if site_settings.title %}{{ site_settings.title }}{% else %}My Site{% endif %} | {% block title %} {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% if site_settings.favicon %}{{ site_settings.favicon.url }}{% endif %}" rel="icon">
  <link href="{% if site_settings.favicon %}{{ site_settings.favicon.url }}{% endif %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/dashboard-style.css' %}" rel="stylesheet">
</head>

<main>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main><!-- End #main -->

<!-- Vendor JS Files -->
<script src="{% static 'assets/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'assets/echarts/echarts.min.js' %}"></script>
<script src="{% static 'assets/quill/quill.js' %}"></script>
<script src="{% static 'assets/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'assets/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'assets/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/dashboard-main.js' %}"></script>

</body>

</html>