<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% if site_settings.title %}{{ site_settings.title }}{% else %}My Site{% endif %} | {% block title %} {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% if site_settings.favicon %}{{ site_settings.favicon.url }}{% endif %}" rel="icon">
  <link href="{% if site_settings.favicon %}{{ site_settings.favicon.url }}{% endif %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/simple-datatables/style.css' %}" rel="stylesheet">
  <!-- MDB -->
  <link rel="stylesheet" href="{% static 'assets/MDB5/css/mdb.min.css' %}" />

  

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/dashboard-style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url "index" %}" class="logo d-flex align-items-center">
        {% if site_settings.logo %}
          <img src="{% static 'assets/images/p-m-logo.PNG' %}"  alt="">
          <span class="d-none d-lg-block">ProxyMart</span>
        {% else %}
          <img src="{% static 'assets/images/p-m-logoT.PNG' %}" alt="Logo" width="200" height="50" class="d-inline-block align-text-top">
        {% endif %}
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="{% url 'cart_detail' %}">
            <i class="bi bi-cart4"></i>
            <span class="badge bg-success badge-number">{{ cart_item_count }}</span>
          </a><!-- End Messages Icon -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            {% if profile.image %}
              <img src="{{ profile.image.url }}" alt="Profile" class="rounded-circle">
            {% else %}
              <img src="{% static 'assets/images/download.PNG' %}" alt="Profile" class="rounded-circle">
            {% endif %}
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ profile.user.username }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ profile.user.username }}</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            {% if user.is_authenticated %}
              <li>
                <a class="dropdown-item d-flex align-items-center" href="{% url 'user_logout' %}">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
            {% endif %}

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'home' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'profile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed disabled" href="#">
          <i class="bi bi-card-list"></i>
          <span>Order History</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'cart_detail' %}">
          <i class="bi bi-envelope"></i>
          <span>Cart Items</span>
        </a>
      </li><!-- End Contact Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
        {% block content %}
       

        {% endblock %}
   
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
   <div class="copyright">
     &copy; Copyright <strong><span>PROXYMART</span></strong>. All Rights Reserved
   </div>
   <div class="credits">
    
     Designed by <a href="#">Mr Nova</a>
   </div>
 </footer><!-- End Footer -->
 
 <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 
 <!-- Vendor JS Files -->
 <script src="{% static 'assets/apexcharts/apexcharts.min.js' %}"></script>
 <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'assets/chart.js/chart.umd.js' %}"></script>
 <script src="{% static 'assets/echarts/echarts.min.js' %}"></script>
 <script src="{% static 'assets/quill/quill.js' %}"></script>
 <script src="{% static 'assets/simple-datatables/simple-datatables.js' %}"></script>
 <script src="{% static 'assets/tinymce/tinymce.min.js' %}"></script>
 <script src="{% static 'assets/php-email-form/validate.js' %}"></script>

 <!-- MDB -->
 <script type="text/javascript" src="{% static 'assets/MDB5/js/mdb.umd.min.js' %}"></script>
 
 <!-- Template Main JS File -->
 <script src="{% static 'assets/js/dashboard-main.js' %}"></script>
 
 </body>
 
 </html>