{% extends 'accounts/base.html' %}
{% block title %}Dashboard{% endblock  %}
{% block content %}
<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Transactions</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <!-- Recent Sales -->
  <div class="col-12">
    <div class="card recent-sales overflow-auto">
      <div class="card-body">
        <h5 class="card-title">Recent Transactions</h5>
        <table class="table table-borderless datatable">
          <thead>
              <tr>
                  <th scope="col">Transaction ID</th>
                  <th scope="col">Order</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Date</th>
              </tr>
          </thead>
          <tbody>
              {% for transaction in transactions %}
              <tr>
                  <td>{{ transaction.transaction_id }}</td>
                  <td>{{ transaction.order.order_ref }}</td>
                  <td>{{ transaction.amount }}</td>
                  <td><span class="badge text-white
                      {% if transaction.status == 'pending' %}
                          bg-warning text-dark
                      {% elif transaction.status == 'completed' %}
                          bg-success
                      {% elif transaction.status == 'failed' %}
                          bg-danger
                      {% endif %}
                      ">{{ transaction.status }}</span></td>
                  <td>{{ transaction.created_at }}</td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan="5">No recent transactions found.</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>
    </div>
  </div><!-- End Recent Sales -->

  
{% endblock  %}